<app-navbar></app-navbar>

<section id="main-admin-body">
  <div class="project-info">
      <h1>My Projects</h1>
      <a routerLink="/dashboard/new" class="add-new-button">Add New</a>
  </div>
  
  <div class="body-container">
      <div class="deployment-block">
          <div class="deployment-left">
              <h2>Deployment 1</h2>
              <table class="deployment-data-table">
                  <tr>
                      <th>Author</th>
                      <th>Last Deployed</th>
                      <th>Deployment Iteration</th>
                  </tr>
                  <tr>
                      <td>Daniel Wildman</td>
                      <td>02/02/2017</td>
                      <td>17</td>
                  </tr>
              </table>
          </div>
          <div class="deployment-right">
              <a href="#" class="button-admin button-edit">Edit</a>
              <a href="#" class="button-admin button-force">Force</a>
              <a href="#" class="button-admin button-delete">Delete</a>
          </div>
      </div>
      <div class="deployment-block">
          <div class="deployment-left">
              <h2>Deployment 1</h2>
              <table class="deployment-data-table">
                  <tr>
                      <th>Author</th>
                      <th>Last Deployed</th>
                      <th>Deployment Iteration</th>
                  </tr>
                  <tr>
                      <td>Daniel Wildman</td>
                      <td>02/02/2017</td>
                      <td>17</td>
                  </tr>
              </table>
          </div>
          <div class="deployment-right">
              <a href="#" class="button-admin button-edit">Edit</a>
              <a href="#" class="button-admin button-force">Force</a>
              <a href="#" class="button-admin button-delete">Delete</a>
          </div>
      </div>
      <div class="deployment-block">
          <div class="deployment-left">
              <h2>Deployment 1</h2>
              <table class="deployment-data-table">
                  <tr>
                      <th>Author</th>
                      <th>Last Deployed</th>
                      <th>Deployment Iteration</th>
                  </tr>
                  <tr>
                      <td>Daniel Wildman</td>
                      <td>02/02/2017</td>
                      <td>17</td>
                  </tr>
              </table>
          </div>
          <div class="deployment-right">
              <a href="#" class="button-admin button-edit">Edit</a>
              <a href="#" class="button-admin button-force">Force</a>
              <a href="#" class="button-admin button-delete">Delete</a>
          </div>
      </div>
  </div>
</section>