<app-navbar></app-navbar>

<section id="main-admin-body">
  <div class="project-info">
      <h1>My Projects</h1>
      <a routerLink="/dashboard/new" class="add-new-button">Add New</a>
  </div>
  
  <div class="body-container">


    <flash-messages></flash-messages>
      <div *ngFor="let project of projects" class="deployment-block">
          <div class="deployment-left">
              <h2>{{project.name}}</h2>
              <table class="deployment-data-table">
                  <tr>
                      <th>Author</th>
                      <th>Last Deployed</th>
                      <th>Deployment Iteration</th>
                  </tr>
                  <tr>
                      <td>{{project.owner_pretty}}</td>
                      <td>{{project.deployment_date | date:'short'}}</td>
                      <td>{{project.iteration}}</td>
                  </tr>
              </table>
          </div>
          <div class="deployment-right">
              <a routerLink='/dashboard/edit/{{project._id}}' class="button-admin button-edit">Edit</a>
              <a href="#" class="button-admin button-force">Force</a>
              <a (click)="onDeleteClick($event)" data-id="{{project._id}}" class="button-admin button-delete">Delete</a>
          </div>
      </div>
  </div>


</section>