<div class="left-holder-container login-background">
        <br>
    </div>

    <div class="right-holder-container">
        <h1>one.</h1>
        <p>Sign in to your account</p>

        <form action="/admin/" id="login-form">
            <label for="login-username">Username</label>
            <input type="text" name="login-username" placeholder="Username">

            <label for="login-password">Password</label>
            <input type="password" name="login-password" placeholder="Password">

            <input type="submit" class="button button-main" value="Sign In">
        </form>
    </div>