<app-navbar></app-navbar>

<section id="main-admin-body">
    <div class="project-info">
        <h1>Add/Edit Project</h1>
        <a routerLink="/dashboard" class="add-new-button overview-button">Back to overview</a>
    </div>
    
    <div class="add-project-form">
        <flash-messages></flash-messages>
        <form (submit)="onAddSubmit()" id="add-proect">
            <h2>General Project Info</h2>
            
            <label for="project-name">Project Name</label>
            <input type="text" name="project-name" [(ngModel)]="name" placeholder="Deployment 1">

            <label for="project-manager">Project Manager</label>
            <input type="text" name="project-manager" [(ngModel)]="owner_pretty" placeholder="Firstname Lastname">

            <h2 class="form-splitter">Deployment Info</h2>
            
            <label for="github-filelink">GitHub File Link</label>
            <input type="text" name="github-filelink" [(ngModel)]="github_filelink" placeholder="Link to ZIP file">


            <div class="half">
                <label for="ftp-server">FTP Server</label>
                <input type="text" name="ftp-server" [(ngModel)]="ftp_server" placeholder="ftp.server.com">
            </div>

            <div class="half">
                <label for="ftp-port">FTP Port</label>
                <input type="text" name="ftp-port" [(ngModel)]="ftp_port" placeholder="21">
            </div>

            <div class="half">
                <label for="ftp-username">FTP Username</label>
                <input type="text" name="ftp-username" [(ngModel)]="ftp_username" placeholder="username">
            </div>

            <div class="half">
                <label for="ftp-password">FTP Password</label>
                <input type="password" name="ftp-password" [(ngModel)]="ftp_password" placeholder="Password">
            </div>

            <input type="submit" class="new-update-submit" value="Add/Update Deployment">
        </form>
    </div>
</section>