<app-navbar></app-navbar>

<section id="main-admin-body">
    <div class="project-info">
        <h1>Add/Edit Project</h1>
        <a routerLink="/dashboard" class="add-new-button overview-button">Back to overview</a>
    </div>
    
    <div class="add-project-form">
        <form action="#" id="add-proect">
            <h2>General Project Info</h2>
            
            <label for="project-name">Project Name</label>
            <input type="text" name="project-name" placeholder="Deployment 1">

            <label for="project-manager">Project Manager</label>
            <input type="text" name="project-manager" placeholder="Firstname Lastname">

            <h2 class="form-splitter">Deployment Info</h2>
            
            <label for="github-repo">GitHub Repo</label>
            <input type="text" name="github-repo" placeholder="Repo Name">

            <label for="github-branch">GitHub Branch</label>
            <input type="text" name="github-branch" placeholder="Master">

            <div class="half">
                <label for="ftp-server">FTP Server</label>
                <input type="text" name="ftp-server" placeholder="ftp.server.com">
            </div>

            <div class="half">
                <label for="ftp-port">FTP Port</label>
                <input type="text" name="ftp-port" placeholder="21">
            </div>

            <div class="half">
                <label for="ftp-username">FTP Username</label>
                <input type="text" name="ftp-username" placeholder="username">
            </div>

            <div class="half">
                <label for="ftp-password">FTP Password</label>
                <input type="password" name="ftp-password" placeholder="Password">
            </div>

            <input type="submit" class="new-update-submit" value="Add/Update Deployment">
        </form>
    </div>

</section>