<div class="homepage">
  <section class="body-center">
        <h1 class="main-lead">one.</h1>
        <p>Deploy WordPress themes in a single click with One.</p>

        <div class="button-group clearfix">
            <div class="button-group-half">
                <a routerLink="/register" class="button button-main pull-right home-cta">Create Account</a>
            </div>
            <div class="button-group-half">
                <a routerLink="/login" class="button button-secondary pull-left home-cta">Log In</a>
            </div>
        </div>
    </section>
</div>